.button {
	border-radius: 0.25rem; 
	padding-block: 0.5rem;
	padding-inline: 1rem;
	background-color: var(--color-secondary);
	border: none;
	color: var(--text-secondary);
	text-decoration: none;

	&:hover {
		filter: brightness(1.1);
	}

	&:focus-visible {
		outline-style: solid;
		outline-width: 2px;
		outline-color: var(--color-secondary);
		outline-offset: 2px;
	}
}
